extends layout
block content
    a(href="/")
        button.logOut(type="submit") Log out
    .Body
        h1 #{greet}
        a(href="/shiftButton")
            button#startEndButton(type="submit", style={background:bColor}) #{bValue}
        button#ReportButton(type="submit", onclick="ShowHideReport()") Show Report
    br
    table#Report.Reports
        thead
            tr
            th Shift date
            th Clock in
            th Clock out
            th Total hours
        tbody
            each n in shifts
                tr
                td= n.date.toDateString()
                td= n.start_time
                td= n.end_time
                td= n.total_time
    .bottom
        p
        | You can view or update your user details   
        a(href="/UserDetails") HERE